<nav class="navbar navbar-dark bg-dark">
  <div class="container fs-2 fw-bold">
    <a class="navbar-brand fs-2 fw-bold">
      <i class="bi bi-question-circle"></i>
      Yahoo 2.0
    </a>
    <%if(user){%>
    <i class="bi bi-person-circle text-white"></i>
    <%}%>
  </div>
</nav>
